<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRNumberFaded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09C5C4141E82BE6D0091EEAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C5C42D1E82BE6F0091EEAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C5C4381E82BE6F0091EEAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
